### 118. tuples - introduction

In [1]:
# we are going to focus here on tuples as a data records or structures

### 119. tuples as data structures - lecture

### 120. tuples as data structures - coding

In [1]:
(10, 20, 30)

(10, 20, 30)

In [2]:
a = (10, 20, 30)
b = 10, 20, 30

In [3]:
type(a)

tuple

In [4]:
type(b)

tuple

In [7]:
def print_tuple(t):
    for e in t:
        print(e)

In [9]:
print_tuple((10, 20, 30))

10
20
30

In [10]:
a = 'a', 10, 200

In [11]:
a[0]

'a'

In [12]:
a[1]

10

In [13]:
a = 1, 2, 3, 4, 5, 6

In [14]:
type(a)

tuple

In [15]:
a[2:5]

(3, 4, 5)

In [16]:
for e in a:
    print(e)

1
2
3
4
5
6

In [17]:
a = 'a', 10, 20

In [22]:
x, y, z = a

In [23]:
x

'a'

In [24]:
y

10

In [25]:
z

20

In [26]:
a = 1, 2, 3, 4, 5

In [27]:
x, *other, y, z = a

In [28]:
x

1

In [29]:
y

4

In [30]:
z

5

In [31]:
other

[2, 3]

In [32]:
x, *_, y, z = a

In [33]:
_

[2, 3]

In [34]:
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [44]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
    
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

In [45]:
pt = Point2D(10, 20)

In [46]:
pt

Point2D(x=10, y=20)

In [47]:
id(pt)

2470361632880

In [48]:
pt.x = 100

In [49]:
id(pt)

2470361632880

In [50]:
a = Point2D(0, 0), Point2D(10, 20)

In [51]:
a

(Point2D(x=0, y=0), Point2D(x=10, y=20))

In [52]:
id(a[0])

2470361632928

In [54]:
a[0].x = 100

In [55]:
a

(Point2D(x=100, y=0), Point2D(x=10, y=20))

In [63]:
s = 'python'

In [64]:
id(s)

2470325630768

In [65]:
s = 'python' + ' rocks!'

In [66]:
s

'python rocks!'

In [67]:
id(s)

2470391906096

In [68]:
a = 1, 2, 3

In [69]:
id(a)

2470391819200

In [70]:
a += (4, 5)

In [71]:
a

(1, 2, 3, 4, 5)

In [72]:
id(a)

2470360396720

In [73]:
a = a + (4, 5)

In [74]:
a

(1, 2, 3, 4, 5, 4, 5)

In [76]:
pt1 = (0, 0)
pt2 = (10, 20)

In [90]:
london = 'London', 'UK', 8_780_000
new_york = 'New York', 'USA', 8_500_000
beijing = 'Beijing', 'China', 21_000_000

In [91]:
london

('London', 'UK', 8780000)

In [92]:
cities = [london, new_york, beijing]

In [93]:
total = 0
for city in cities:
    total += city[2]
print(total)

38280000

In [96]:
sum(city[2] for city in cities)

38280000

In [97]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [98]:
symbol, year, month, day, open_, high, low, close = record

In [99]:
symbol

'DJIA'

In [100]:
close

26072

In [101]:
symbol, *_, close = record

In [102]:
symbol, close

('DJIA', 26072)

In [103]:
print(_)

[2018, 1, 19, 25987, 26072, 25942]

In [105]:
for city, country, population in cities:
    print(city, country, population)

London UK 8780000
New York USA 8500000
Beijing China 21000000

In [107]:
for index, city in enumerate(cities):
    print(index, city)

0 ('London', 'UK', 8780000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)

In [109]:
from random import uniform
from math import sqrt

def random_shot(radius):
    random_x = uniform(-radius, radius)
    random_y = uniform(-radius, radius)
    
    if sqrt(random_x ** 2 + random_y ** 2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False
        
    return random_x, random_y, is_in_circle

In [124]:
num_attempts = 1_000_000
count_inside = 0
for i in range(num_attempts):
    *_, is_in_circle = random_shot(1)
    if is_in_circle:
        count_inside += 1
        
print(f'Pi is approximately: {4 * count_inside / num_attempts}')

Pi is approximately: 3.141376

### 121. named tuples - lecture

### 122. named tuples - coding

In [130]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z

In [131]:
from collections import namedtuple

In [132]:
Point2D = namedtuple('Point2D', ['x', 'y'])

In [133]:
pt1 = Point2D(10, 20)

In [134]:
pt1

Point2D(x=10, y=20)

In [135]:
pt3d_1 = Point3D(10, 20, 30)

In [136]:
pt3d_1

In [140]:
Point2D = namedtuple('Point2D', ('x', 'y'))

In [158]:
pt2 = Point2D(10, 20)

In [159]:
pt2

Point2D(x=10, y=20)

In [160]:
Pt3D = Point3D

In [161]:
p = Pt3D(10, 20, 30)

In [162]:
p

In [163]:
p = Point3D(x=10, y=20, z=30)

In [164]:
p.x

10

In [165]:
p.y

20

In [166]:
p = Point2D(x=10, y=20)

In [167]:
isinstance(p, tuple)

True

In [168]:
p = Point3D(x=10, y=20, z=30)

In [169]:
isinstance(p, tuple)

False

In [170]:
a = (10, 20)
b = (10, 20)

In [171]:
a is b

False

In [172]:
a == b

True

In [173]:
pt1 == Point2D(10, 20)

True

In [174]:
pt2 == Point2D(10, 20)

True

In [175]:
pt1 == pt2

True

In [176]:
pt1 = Point3D(10, 20, 30)
pt2 = Point3D(10, 20, 30)

In [177]:
pt1 is pt2

False

In [178]:
pt1 == pt2

False

In [180]:
class Point3D:
    def __init__(self, x, y, z):
        self.x = x
        self.y = y
        self.z = z
    
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y}, z={self.z})'
        
    def __eq__(self, other):
        if isinstance(other, Point3D):
            return self.x == other.x and self.y == other.y and self.z == other.z
        else:
            return False

In [181]:
pt1 = Point3D(10, 20, 30)
pt2 = Point3D(10, 20, 30)

In [182]:
pt1

Point3D(x=10, y=20, z=30)

In [183]:
pt1 == pt2

True

In [184]:
pt1 = Point2D(10, 20)
pt2 = Point3D(10, 20, 30)

In [185]:
max(pt1)

20

In [186]:
max(pt2)

TypeError: 'Point3D' object is not iterable

In [188]:
# a = a.x, a.y
# b = b.x, b.y
# a.b = a.x * b.x + a.y * b.y

In [189]:
def dot_product_3d(a, b):
    return a.x * b.x + a.y * b.y + a.z * b.z

In [190]:
pt1 = Point3D(1, 2, 3)
pt2 = Point3D(1, 1, 1)

In [191]:
dot_product_3d(pt1, pt2)

6

In [196]:
a = (1, 2)
b = (1, 1)

In [197]:
list(zip(a, b))

[(1, 1), (2, 1)]

In [198]:
sum(e[0] * e[1] for e in zip(a, b))

3

In [199]:
def dot_product(a, b):
    return sum(e[0] * e[1] for e in zip(a, b))

In [200]:
dot_product(a, b)

3

In [201]:
pt1 = Point2D(1, 2)
pt2 = Point2D(1, 1)

In [202]:
dot_product(pt1, pt2)

3

In [203]:
Vector3D = namedtuple('Vector3D', 'x y z')

In [207]:
v1 = Vector3D(1, 2, 3)
v2 = Vector3D(1, 1, 1)

In [208]:
v1

Vector3D(x=1, y=2, z=3)

In [209]:
dot_product(v1, v2)

6

In [210]:
tuple(v1)

(1, 2, 3)

In [211]:
v1[0]

1

In [212]:
v1[0:2]

(1, 2)

In [213]:
v1.x

1

In [214]:
v1.y

2

In [215]:
Circle = namedtuple('Circle', 'center_x center_y radius')

In [216]:
c = Circle(0, 0, 10)

In [217]:
c

Circle(center_x=0, center_y=0, radius=10)

In [218]:
c.radius

10

In [219]:
Stock = namedtuple('Stock', '''symbol 
                   year month day open high low close''')

In [221]:
djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [222]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [223]:
djia.close

26393

In [224]:
for item in djia:
    print(item)

DJIA
2018
1
25
26313
26458
26260
26393

In [225]:
p = Point2D(10, 20)

In [226]:
x, y = p

In [227]:
x

10

In [228]:
y

20

In [229]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [230]:
symbol, year, month, day, *_, close = djia

In [231]:
symbol, year, month, day, close

('DJIA', 2018, 1, 25, 26393)

In [233]:
Person = namedtuple('Person', 'name age _ssn', rename=True)

In [234]:
Person._fields

('name', 'age', '_2')

In [235]:
Point2D._fields

('x', 'y')

In [236]:
Stock._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

In [240]:
d = djia._asdict()

In [241]:
d['symbol']

'DJIA'

In [242]:
d['close']

26393

In [244]:
djia._asdict()

{'symbol': 'DJIA',
 'year': 2018,
 'month': 1,
 'day': 25,
 'open': 26313,
 'high': 26458,
 'low': 26260,
 'close': 26393}

In [245]:
dict(djia._asdict())

{'symbol': 'DJIA',
 'year': 2018,
 'month': 1,
 'day': 25,
 'open': 26313,
 'high': 26458,
 'low': 26260,
 'close': 26393}

### 123. named tuples - modifying and extending - lecture

### 124. named tuples - modifying and extending - coding

In [1]:
from collections import namedtuple

In [2]:
Point2D = namedtuple('Point2D', 'x y')

In [3]:
pt = Point2D(10, 20)

In [4]:
pt[0]

10

In [5]:
pt.x = 100

AttributeError: can't set attribute

In [6]:
pt[0] = 100

TypeError: 'Point2D' object does not support item assignment

In [7]:
id(pt)

1631165339968

In [8]:
pt = Point2D(100, pt.y)

In [9]:
pt

Point2D(x=100, y=20)

In [10]:
id(pt)

1631166242880

In [11]:
id(s)

NameError: name 's' is not defined

In [12]:
Stock = namedtuple('Stock', 'symbol year month day open high low close')

In [13]:
djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [14]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [15]:
djia = Stock(djia.symbol, djia.year, djia.month, djia.day, djia.open, djia.high, djia.low, 1000)

In [16]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=1000)

In [17]:
*values, close = djia

In [19]:
values

['DJIA', 2018, 1, 25, 26313, 26458, 26260]

In [20]:
close

1000

In [21]:
values.append(26_393)

In [22]:
values

['DJIA', 2018, 1, 25, 26313, 26458, 26260, 26393]

In [26]:
djia = Stock(*values)

In [27]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [30]:
a = [1, 2, 3]

In [31]:
id(a)

1631166394240

In [32]:
a = a + [4, 5]

In [33]:
id(a)

1631166233344

In [34]:
a.append(4)

In [35]:
id(a)

1631166233344

In [36]:
a.extend([5, 6, 7])

In [37]:
a

[1, 2, 3, 4, 5, 4, 5, 6, 7]

In [38]:
id(a)

1631166233344

In [39]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [40]:
values = djia[:7]

In [41]:
values

('DJIA', 2018, 1, 25, 26313, 26458, 26260)

In [42]:
type(tuple)

type

In [43]:
values

('DJIA', 2018, 1, 25, 26313, 26458, 26260)

In [44]:
values + (100, )

('DJIA', 2018, 1, 25, 26313, 26458, 26260, 100)

In [46]:
djia = Stock(*(values + (100, )))

In [47]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=100)

In [48]:
djia = Stock(*values, 1000)

In [49]:
id(djia)

1631166415584

In [50]:
djia = djia._replace(year=2019, open=10000)

In [51]:
djia

Stock(symbol='DJIA', year=2019, month=1, day=25, open=10000, high=26458, low=26260, close=1000)

In [52]:
id(djia)

1631166417600

In [53]:
djia = Stock._make(values + (100, ))

In [55]:
djia = djia._replace(close=10000)

In [56]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=10000)

In [57]:
Point2D

__main__.Point2D

In [58]:
Point2D._fields

('x', 'y')

In [59]:
Point3D = namedtuple('Point3D', 'x y z')

In [60]:
Point2D._fields

('x', 'y')

In [61]:
Point2D._fields + ('z', )

('x', 'y', 'z')

In [63]:
Point3D = namedtuple('Point3D', Point2D._fields + ('z', ))

In [64]:
Point3D._fields

('x', 'y', 'z')

In [65]:
StockExt = namedtuple('StockExt', Stock._fields + ('previous_close', ))

In [66]:
StockExt._fields

('symbol',
 'year',
 'month',
 'day',
 'open',
 'high',
 'low',
 'close',
 'previous_close')

In [67]:
pt

Point2D(x=100, y=20)

In [68]:
pt3d = Point3D(*pt, 100)

In [69]:
pt3d

Point3D(x=100, y=20, z=100)

In [70]:
djia_ext = StockExt(*djia, 1_000_000)

In [71]:
djia_ext

StockExt(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=10000, previous_close=1000000)

### 125. named tuples - docstrings and default values - lecture

### 126. named tuples - docstrings and default values - coding

In [72]:
from collections import namedtuple

In [73]:
Point2D = namedtuple('Point2D', 'x y')

In [74]:
Point2D.__doc__

'Point2D(x, y)'

In [75]:
Point2D.x.__doc__

'Alias for field number 0'

In [76]:
Point2D.y.__doc__

'Alias for field number 1'

In [77]:
help(Point2D)

Help on class Point2D in module __main__:

class Point2D(builtins.tuple)
 |  Point2D(x, y)
 |
 |  Point2D(x, y)
 |
 |  Method resolution order:
 |      Point2D
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new dict which maps field names to their values.
 |
 |  _replace(self, /, **kwds)
 |      Return a new Point2D object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Point2D object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, x, y)
 |      Create new instance of Point2D(x, y)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  x
 |      Alias for field number 0
 |
 |  y
 |      Alias for field number 1
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  _field_defaults = {}
 |
 |  _fields = ('x', 'y')
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.tuple:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585

In [79]:
Point2D.__doc__ = '2D Cartesian coordinate'
Point2D.x.__doc__ = 'x coordinate'
Point2D.y.__doc__ = 'y coordinate'

In [81]:
# prototype

In [82]:
Vector2D = namedtuple('Vector2D', 'x1 y1 x2 y2 origin_x origin_y')

In [83]:
Vector2D._fields

('x1', 'y1', 'x2', 'y2', 'origin_x', 'origin_y')

In [84]:
v1 = Vector2D(10, 0, 10, 10, 0, 0)

In [85]:
vector_zero = Vector2D(0, 0, 0, 0, 0,0)

In [86]:
vector_zero

Vector2D(x1=0, y1=0, x2=0, y2=0, origin_x=0, origin_y=0)

In [87]:
v2 = vector_zero._replace(x1=10, y1=10, x2=20, y2=20)

In [88]:
v2

Vector2D(x1=10, y1=10, x2=20, y2=20, origin_x=0, origin_y=0)

In [90]:
vector_altorigin = Vector2D(0, 0, 0, 0, -10, -10)

In [92]:
def func(a, b=10, c=20):
    print(a, b, c)

In [93]:
func(1)

1 10 20

In [94]:
func.__defaults__

(10, 20)

In [95]:
func.__defaults__ = (100, 200, 300)

In [96]:
func()

100 200 300

In [97]:
help(Vector2D)

Help on class Vector2D in module __main__:

class Vector2D(builtins.tuple)
 |  Vector2D(x1, y1, x2, y2, origin_x, origin_y)
 |
 |  Vector2D(x1, y1, x2, y2, origin_x, origin_y)
 |
 |  Method resolution order:
 |      Vector2D
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new dict which maps field names to their values.
 |
 |  _replace(self, /, **kwds)
 |      Return a new Vector2D object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Vector2D object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, x1, y1, x2, y2, origin_x, origin_y)
 |      Create new instance of Vector2D(x1, y1, x2, y2, origin_x, origin_y)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  x1
 |      Alias for field number 0
 |
 |  y1
 |      Alias for field number 1
 |
 |  x2
 |      Alias for field number 2
 |
 |  y2
 |      Alias for field number 3
 |
 |  origin_x
 |      Alias for field number 4
 |
 |  origin_y
 |      Alias for field number 5
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  _field_defaults = {}
 |
 |  _fields = ('x1', 'y1', 'x2', 'y2', 'origin_x', 'origin_y')
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods inherited from builtins.tuple:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585

In [98]:
type(Vector2D.__new__.__defaults__)

NoneType

In [105]:
Vector2D.__new__.__defaults__ = (100, 0, 0)

In [106]:
v1 = Vector2D(10, 10, 20)

In [107]:
v1

Vector2D(x1=10, y1=10, x2=20, y2=100, origin_x=0, origin_y=0)

### 127. named tuples - application - returing multiple values

In [108]:
from random import randint, random

In [109]:
from collections import namedtuple

In [111]:
def random_color():
    red = randint(0, 255)
    blue = randint(0, 255)
    green = randint(0, 255)
    alpha = round(random(), 2)
    return red, green, blue, alpha

In [112]:
color = random_color()

In [113]:
color

(28, 43, 33, 0.75)

In [114]:
red, green, blue, alpha = color

In [115]:
red

28

In [116]:
alpha

0.75

In [117]:
Color = namedtuple('Color', 'red green blue alpha')

In [118]:
def random_color():
    red = randint(0, 255)
    blue = randint(0, 255)
    green = randint(0, 255)
    alpha = round(random(), 2)
    return Color(red, green, blue, alpha)

In [119]:
color = random_color()

In [120]:
color

Color(red=71, green=99, blue=159, alpha=0.25)

In [121]:
color.red

71

In [122]:
color.alpha

0.25

### 128. named tuples - application - alternative to dictories

In [131]:
data_dict = dict(key1=100, key2=200, key3=300)

In [132]:
data_dict['key1']

100

In [133]:
from collections import namedtuple

In [134]:
data_dict.keys()

dict_keys(['key1', 'key2', 'key3'])

In [135]:
Data = namedtuple('Data', data_dict.keys())

In [136]:
Data._fields

('key1', 'key2', 'key3')

In [137]:
data_dict.values()

dict_values([100, 200, 300])

In [139]:
d1 = Data(*data_dict.values())

In [140]:
d1

Data(key1=100, key2=200, key3=300)

In [141]:
d2 = Data(key1=10, key3=20, key2=30)

In [142]:
Data = namedtuple('Data', 'key3 key2 key1')

In [143]:
Data._fields

('key3', 'key2', 'key1')

In [144]:
d2 = Data(*data_dict.values())

In [146]:
d2 = Data(**data_dict)

In [147]:
d2

Data(key3=300, key2=200, key1=100)

In [148]:
key_name = 'key2'
data_dict[key_name]

200

In [149]:
getattr(d2, key_name)

200

In [150]:
data_dict.get('key2', None)

200

In [151]:
getattr(d2, 'key2', None)

200

In [154]:
data_dict['key1']

100

In [153]:
d2.key1

100

In [155]:
# data_rows[0].date_imported

In [156]:
data_list = [
    {'key1': 1, 'key2': 2},
    {'key1': 3, 'key2': 4},
    {'key1': 5, 'key2': 6, 'key3': 7},
    {'key2': 100}
]

In [158]:
keys = set()

for d in data_list:
    for key in d.keys():
        keys.add(key)

In [159]:
print(keys)

{'key1', 'key3', 'key2'}

In [160]:
keys = {key for dict_ in data_list for key in dict_.keys()}

In [161]:
keys

{'key1', 'key2', 'key3'}

In [163]:
Struct = namedtuple('Struct', sorted(keys))

In [164]:
Struct._fields

('key1', 'key2', 'key3')

In [165]:
Struct.__new__.__defaults__ = (None, ) * len(Struct._fields)

In [166]:
tuple_list = []
for dict_ in data_list:
    tuple_list.append(Struct(**dict_))
print(tuple_list)

[Struct(key1=1, key2=2, key3=None), Struct(key1=3, key2=4, key3=None), Struct(key1=5, key2=6, key3=7), Struct(key1=None, key2=100, key3=None)]

In [172]:
def tuplify_dicts(dicts):
    keys = {key for dict_ in dicts for key in dict_.keys()}
    Struct = namedtuple('Struct', sorted(keys), rename=True)
    Struct.__new__.__defaults__ = (None, ) * len(Struct._fields)
    return [Struct(**dict_) for dict_ in dicts]

In [173]:
tuple_list = tuplify_dicts(data_list)

In [174]:
tuple_list

[Struct(key1=1, key2=2, key3=None),
 Struct(key1=3, key2=4, key3=None),
 Struct(key1=5, key2=6, key3=7),
 Struct(key1=None, key2=100, key3=None)]